body{
    background-color: #E0E4EE;
    font-family: Whitney;
    padding-top: 60px;
    margin: 0;
    padding-bottom: 30px;
}

.quiz-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    background-color: #ef3340;
    padding: 20px;
    width: 350px;
    margin:0;
    border-radius: 50px;
}

#timer {
    position: fixed;
    top: 60px;
    right: 10px;
    font-size: 30px;
}

.pregunta{
   
    margin-top: 20px;
    background-color: #8db4ad;
    border-radius: 30px;
    padding: 20px;
    width: 300px;
}

h1 {
    text-align: center;
}

.question {
    margin-bottom: 20px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #043353;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #043353;
}

#result {
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
}


p {
    display: block;
    margin: 0;
    font-family: Whitney, Arial;
    margin-bottom: 15px;
}

.left-sidebar {
    position: fixed;
    top: 50px;
    bottom: 0px;
    left: 0px;
    width: 90px;
    background-color: rgba(43,45,49,255);
}

.upper-sidebar {
    display: flex;
    position: fixed;
    height: 50px;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(30,31,34,255);
    align-items: center;
    justify-content: center;
}

.upper-logo-image {
    flex: 1;
    height: 40px;
    margin-left: 6px;
    border-radius: 10px;
}

.upper-profile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.upper-profile-text {
    margin-right: 10px;
    color:white;
}

.upper-profile-image {
    width: 36px;
    border-radius: 50px;
}

.view-profile-text {
    display: inline-block;
}

.upper-profile-text-button {
    background: none;
    border: none;
    color: white;
    font-family: Whitney, Arial;
    cursor: pointer;
    margin-right: 3px;
    transition: opacity 0.15s;
}

.upper-profile-text-button:hover {
    opacity: 0.8;
    text-decoration: underline;
}

.upper-profile-button {
    margin: 0;
    border: none;
    border-radius: 50px;
    margin: 0; 
    padding: 0;
    margin-right: 15px;
    margin-top: 3px;
    height: 36px; 
    width: 36px;
    cursor: pointer;
}

.profile-image {
    color:white;
}

.icon-image {
    width: 24px;
}

.icon-button {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 90px;
    background: none;
    border: none;
    cursor: pointer;
    border-left-width: 2px;
    border-left: solid;
    border-left-color: gray;
    transition: border-left-color 0.25s;
    padding-top: 5px;
    padding-bottom: 5px;
}

.icon-button:hover {
    border-left-color: #5BD3C7;
}

.icon-text {
    color: white;
    margin-left: 10px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 30px;
}

.class {
    border: solid;
    border-width: 1px;
    border-color: black;
    height: 100%;
    border-radius: 10px;
    min-width: 280px;
}

.class-image {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.description {
    display: flex;
    justify-content: start;
    align-items: start;
}

.class-icon-image {
    object-fit: cover;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    margin-left: 5px;
}

.title-text {
    font-weight: bold;
}

.description-text {
    font-size: 11px;
    margin-bottom: 8px;
}

.class-button {
    cursor: pointer;
    padding: 0; 
    border:none; 
    border-radius: 10px;
}

.back-button {
    width: 100px;
}

#result {
    margin-bottom: 20px;
}